/* Font-face configuration */
@font-face {
    font-family: 'Yekan-N';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekan-B';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
/* Font-face configuration */


/****************** Main ******************/
#Main{
    transition: background-color .5s;
    transition: margin-left .5s;
}

#main{
    font-family: Yekan-N;
    background-image: url('Dependencies/Images/Back/Landing\ -\ 768.png');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity .5s;
    opacity: 0;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 50%px;
}
/****************** Main ******************/


/**************** Header1 ****************/
#header{
    transition: 0.5s;
}

#header-right{
    background-image: url('Dependencies/Images/Header/RightHeader.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    margin-top: -70px;
    z-index: 0;
}

#header-right-title{
    margin-top: 170px;
    margin-right: -120px;
}

#header-right-title-h1{
    font-size: 48px;
    line-height: 55px;
    color: white;
}

#header-right-caption{
    margin-top: 15px;
    margin-right: -90px;
}

#header-right-caption-h2{
    font-size: 27px;
    line-height: 40px;
    color: white;
}

#header-left{
    margin-top: -70px;
}

#header-left-title{
    margin-bottom: 13px;
}

#header-left-title-h3{
    font-size: 60px;
    color: orangered;
}

#header-left-sign{
    
}

#header-left-sign-form-input{
    width: 310px;
    height: 60px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgb(255, 237, 231);
}

#header-left-sign-form-button{
    display: inline;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 6px -55px 0 0;
}

#header-left-sign-button2{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px;
}

#header-left-caption{
    margin-top: 10px;
}

#header-left-caption-h4{
    font-size: 13px;
    color: orangered;
}

#header-left-sign-button2{
    background-image: url('Dependencies/Images/Header/play.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 60%;
}

.button-header{
    border-color: rgb(235, 63, 1);
    border-width: 2px;
    color: rgb(235, 63, 1);
    background-color: rgba(255, 68, 0, 0.054);
    width: 230px; height: 60px;
    border-radius: 50px;
    margin: 5px;
    transition: 0.3s ease-in;
    font-size: 16px;
}

.button-header:hover{
    background-color: orangered;
    border-color: white;
    color: white;
    transition: 0.3s ease-in;
}
/**************** Header1 ****************/

/**************** Header2 ****************/
#header-right_{
    background-image: url('Dependencies/Images/Header/mobile.png');
    background-repeat: no-repeat;
    background-size: 550px;
    height: 600px;
    background-position: center;
    z-index: 0;
}


#header-right-title_{
    margin-top: 200px;
    margin-bottom: 20px;
}

#header-right-title-h1_{
    font-size: 48px;
    line-height: 55px;
    color: orangered;
}

#header-left-sign_{
    
}

#header-left-sign-form-input_{
    width: 310px;
    height: 60px;
    border-radius: 50px;
    border-width: 1px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.082);
}

#header-left-sign-form-button_{
    display: inline;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
    background-color: black;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 6px -55px 0 0;
}


#header-left-sign-button2_{
    background-image: url('Dependencies/Images/Header/play.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 65%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px;
}

#header-left-caption_{
    margin-top: 10px;
}

#header-left-caption-h4_{
    font-size: 13px;
    color: black;
}
/**************** Header2 ****************/

/**************** navbar ****************/
#navbar{
    height: 70px;
    z-index: 1;
}

#navbar-scroll{
    height: 70px;
    z-index: 1;
    transition: ease-in-out 0.5s;
    background-color: rgba(255, 232, 224, 0.945);
    backdrop-filter: blur(5px);
    border-radius: 0 0 10px 10px;
    top: -70px;
}

#navbar-right{
    color: white;
    z-index: 1;
}

#navbar-right-row{
    margin-top: 10px;
}

#navbar-right-logo{
    
}

#navbar-right-logo-img{
    width: 88px;
}

#navbar-right-blog{
    
}

#navbar-right-blog-h6{
    text-align: center;
}

#navbar-right-contact{
    
}

#navbar-right-contact-h6{
    text-align: center;
}

#navbar-left{

}

#nevbar-left-row{
    margin-top: 18px;
}

#navbar-left-cost{

}

#navbar-left-cost-h6{
    text-align: center;
}

#navbar-left-portfolio{

}

#navbar-left-portfolio-h6{
    text-align: center;
}

#navbar-left-sign{
    text-align: center;
}

#navbar-left-sign-button{
    width: 110px;
    height: 38px;
    border-radius: 50px;
}

#navbar-left-sign-button-h6{
    font-size: 11px;
    font-family: Yekan-B;
    float: right;
    margin: 5px 5px 0 0;
}

#navbar-left-sign-button-img{
    width: 12px;
    margin: 3px 4px 0 0;
}

#navbar-left-hamburger{
    
}

#navbar-left-hamburger-img{
    width: 25px;
    float: left;
}

.button{
    background-color: orangered;
    border-width: 0;
    transition: 0.2s ease-in-out;
}

.button:hover{
    background-color: rgb(221, 59, 0);
    border-width: 1;
    border-color: white;
    transition: 0.5s ease-in-out;
}
/**************** navbar ****************/

/**************** navbar-modal ****************/
#navbar-modal{
    backdrop-filter: blur(4px);
}

#navbar-modal-close{
    margin-bottom: -5px;
}

#navbar-modal-content{
    width: 410px;
    height: 420px;
    border-radius: 25px;
    margin-top: 60px;
}

#navbar-modal-title{
    margin-bottom: 30px;
    
}

#navbar-modal-title-h3{
    font-size: 30px;
    color: black;
}

#navbar-modal-caption-h4{
    font-size: 12px;
    color: black;
}

#navbar-modal-caption{
    margin-top: 15px;
}

#navbar-modal-sign{
    
}

#navbar-modal-form-input1{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
}

#navbar-modal-form-input2{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
    margin-top: 10px;
}

#navbar-modal-form-input3{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
    margin-top: 10px;
}

#navbar-modal-form-button{
    display: inline;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 13px -47px 0 0;
}

#navbar-modal-social{
    margin-top: 15px;
}

#navbar-modal-social-1{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-2{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-3{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-4{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}
/**************** navbar-modal ****************/

/**************** navbar-modal-video ****************/
#navbar-modal-video{
    backdrop-filter: blur(4px);
    margin-top: 80px;
}

#navbar-modal-content-video{
    margin-top: 60px;
}
/**************** navbar-modal-video ****************/

/**************** hamburger-menu ****************/
#side-nav-close{
    margin: -30px 20px 0 0;
}

#side-nav-1-title{
    font-size: 46px;
    margin-top: 35px;
}

#side-nav-1-caption{
    margin: 5px 55px 0 20px;
    line-height: 22px;
}

#side-nav-1-social{
    margin-top: 60px;
}

#side-nav-2{
    margin: 40px 15px 0 15px;
}

.social-icon{
    width: 45px;
    height: 45px;
    background-color: orangered;
    opacity: 60%;
    border-width: 0;
    margin: 10px;
    border-radius: 20px;
    transition: 0.8s ease;
}

.social-icon:hover{
    opacity: 90%;
    transition: 0.8s ease;
    cursor: pointer;
}

.nav-item{
    width: 120px;
    height: 60px;
    background-color: rgba(255, 68, 0, 0.226);
    border-width: 1px;
    border-color: orangered;
    margin: 10px;
    border-radius: 20px;
    transition: 0.4s ease;
    color: black;
    
}

.nav-item:hover{
    background-color: orangered;
    transition: 0.3s ease;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0;
    border-color: rgba(255, 68, 0, 0.198);
    border-style: solid;
    border-width: 0px 2px 0px 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    backdrop-filter: blur(5px);
  }

#side-nav-logo-img{
    width: 88px;
}
/**************** hamburger-menu ****************/

/*************** H's Right-Align ****************/
h1{
    text-align: right;
}

h2{
    text-align: right;
}

h3{
    text-align: right;
}

h4{
    text-align: right;
}

h5{
    text-align: right;
}

h6{
    text-align: right;
}
/*************** H's Right-Align ****************/

/* differences */
#differences{
    margin-top: 5%;
}

#differences-title{
    margin-top: 28px;
}

#differences-title-h1{
    font-size: 50px;    
    text-align: center;
    margin-bottom: 60px;
}
#differences-item1{
    transition-delay: 200ms;
}

#differences-item2{
    transition-delay: 400ms;
}
#differences-item3{
    transition-delay: 600ms;
}
#differences-item1-h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}


#differences-item2-h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#differences-item3-h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#differences-item1-svg{
    margin-bottom: 10px;
}

#differences-item2-svg{
    margin-bottom: 10px;
}

#differences-item3-svg{
    margin-bottom: 10px;
}
/* differences */

/* blog */
#blog{
    margin-top: 7%;
}

#blog-slider{
    width: 80%;
    border-radius: 30px;
    overflow: hidden;
}

.title-pos {
    position: absolute;
    top: 22%;
    right: 20%;
    font-size: 50px;
}

.caption-pos {
    position: absolute;
    top: 35%;
    right: 20%;
    line-height: 33px;
}

.button-pos{
    position: absolute;
    top: 65%;
    right: 20%;
    width: 130px;
    height: 45px;
    border-radius: 30px;
}
/* blog */

/* team */
#team{
    margin-top: 100px;
    margin-bottom: 100px;
}

#team-title{
    margin-bottom: 50px;
}
#team-slider-social{
    padding: 0 5px 0 5px;
}
#team-slider{
   
}

#team-slider-item-user{
    width: 220px;
    margin-bottom: 20px;
}

#team-slider-item-caption{
    background-image: url('Dependencies/Images/Teams/Qut.png');
    background-repeat: no-repeat; 
    background-position: left; 
    background-size: 120%;
    padding: 10% 0 10% 0;
    text-align: center;
    font-size: 35px;
}

#team-slider-iteam-social{
    z-index: 2;
}

.button-social{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin: 0 5px 10px 5px;
}

.icon-social{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin: -7px -13px 5px 5px;
}
/* team */

/* footer */
#footer-back{
    background-color: rgb(14, 14, 14);
    color: white;
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
    height: 60px;
    width: 430px;
}

#footer-caption{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}
/* footer */

/* social-bar */
#social-bar{
    width: 45px;
    height: 205px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
    background-color: rgba(46, 46, 46, 0.157);
    left: 0;
    top: 30%;
    backdrop-filter: blur(5px);
    margin-left: -35px;
    transition: ease-in-out 0.2s;
}

#social-bar:hover{
    margin-left: 0;
    transition: ease-in-out 0.2s;
    background-color: rgb(238, 242, 255);
}

.social-bar-icon{
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 10px 0 5px 4px;
    opacity: 50%;
    transition: ease-in-out 0.3s;
}

.social-bar-icon:hover{
    opacity: 100%;
    transition: ease-in-out 0.3s;
}