#virtualenv
venv/
coda/__pycache__/


coda/settings.py
#static files
#files/
static/ckeditor
#staticfiles/

# Migrations
blog/migrations/

#database
#db.sqlite3

coda/__pycache__/
#github files
key.txt
key.txt.pub



centos-ssh.txt
centos-ssh.txt.pub

