<!DOCTYPE html>
{% load static %}
<html dir="rtl">

    <head>
        <!--Css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        
        <link rel="stylesheet" href={% static "index/costs.css" %}> 
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">        
        <!--Css-->

        <!--JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src={% static "index/costs.js" %}></script> 
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!--JavaScript-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>
            Coda | This is our website
        </title>
        <link rel="shortcut icon" type="image/x-icon" href={% static "index/favicon.ico" %}/>

    </head>

    <body id="Main" onload="myFunction()">
        


        <!--page loader-->
        <div id="loader" class="spinner-grow text-dark position-fixed" role="status">
            
        </div>
        <!--page loader-->

        <!--social-bar-->
        <div id="social-bar" class="position-fixed">
            <a href="www.instagram.com/hicoda.ir">
                <img id="social-bar-1" class="social-bar-icon" src={% static "index/Dependencies/Images/social/instagram.png" %}>
            </a>
            <a href="www.telegram.com/hicoda.ir">
                <img id="social-bar-2" class="social-bar-icon" src={% static "index/Dependencies/Images/social/telegram.png" %}>
            </a>
            <a href="www.bale.com/hicoda.ir">
                <img id="social-bar-3" class="social-bar-icon" src={% static "index/Dependencies/Images/social/bale.png" %}>
            </a>
            <a href="www.hithub.com/hicoda.ir">
                <img id="social-bar-4" class="social-bar-icon" src={% static "index/Dependencies/Images/social/github.png" %}>
            </a>
        </div>
        <!--social-bar-->

        <div id="main" class="container-fluid">      
            <!--navbar-->
            <div id="navbar" class="row d-flex justify-content-center">
                <div id="navbar-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-4 col-auto ml-auto">
                    <div id="navbar-right-row" class="row d-flex justify-content-center">    
                        <div id="navbar-right-logo" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 d-flex justify-content-center align-self-center">
                            <a href="../">
                                <img id="navbar-right-logo-img" src={{main.logo}}>
                            </a>
                        </div>
                        <div id="navbar-right-blog" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-end">
                            <a href="../{{main.field1}}" style="text-decoration: none; color: white;">    
                                <h6 id="navbar-right-blog-h6" class="text" type="button">
                                    بلاگ
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-right-contact" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 d-none d-md-block justify-content-center align-self-end">
                            <a href="../{{main.field2}}" style="text-decoration: none; color: white;">
                                <h6 id="navbar-right-contact-h6" type="button">
                                    ارتباط
                                </h6>
                            </a>
                        </div>
                    </div>    
                </div>
    
                <div id="navbar-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2 col-auto mr-auto"> 
                    <div id="nevbar-left-row" class="row d-flex justify-content-center">
                        <div id="navbar-left-cost" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-center">
                                <a href="../{{main.field3}}" style="text-decoration: none; color: white;">
                                    <h6 id="navbar-left-cost-h6" type="button">
                                        تعرفه
                                    </h6>
                                </a>
                        </div>
                        <div id="navbar-left-portfolio" class="col-xl-2 col-lg-2 col-md-3 d-none d-md-block justify-content-center align-self-center">
                            <a href="../{{main.field4}}" style="text-decoration: none; color: white;">
                                <h6 id="navbar-left-portfolio-h6" type="button">
                                    پورتفولیو
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-left-sign" class="col-xl-3 col-lg-3 col-md-5 col-sm-5 d-none d-sm-block justify-content-center align-self-center">
                            <button id="navbar-left-sign-button" class="row btn btn-primary button" type="button" data-toggle="modal" data-target="#navbar-modal"> 
                                <h6 id="navbar-left-sign-button-h6">
                                    مشترک شو
                                </h6>
                                <img id="navbar-left-sign-button-img" src={% static "index/Dependencies/Images/Header/SignIcon.png" %}>
                            </button>
                        </div>
                        <div id="navbar-left-hamburger" class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-1 d-flex justify-content-center align-self-center">
                            <img id="navbar-left-hamburger-img" type="button" onclick="openNav()" src={% static "index/Dependencies/Images/Header/LeftMenuIcon.png" %}>
                        </div>
                    </div>
                </div>
            </div>
            <!--navbar-->

            <!--navbar-scroll-->
            <div id="navbar-scroll" class="row d-flex justify-content-center fixed-top">
                <div id="navbar-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-4 col-auto ml-auto">
                    <div id="navbar-right-row" class="row d-flex justify-content-center">    
                        <div id="navbar-right-logo" class="col-xl-5 col-lg-3 col-md-3 col-sm-3 col-xs-3 d-flex justify-content-center align-self-center">
                            <a href="../">
                                <img id="navbar-right-logo-img" src={{main.logo}}>
                            </a>
                        </div>
                        <div id="navbar-right-blog" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-end">
                            <a href="../{{main.field1}}" style="text-decoration: none; color: white;">    
                                <h6 id="navbar-right-blog-h6" class="text" type="button">
                                    بلاگ
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-right-contact" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 d-none d-md-block justify-content-center align-self-end">
                            <a href="../{{main.field2}}" style="text-decoration: none; color: white;">
                                <h6 id="navbar-right-contact-h6" type="button">
                                    ارتباط
                                </h6>
                            </a>
                        </div>
                    </div>    
                </div>
    
                <div id="navbar-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2 col-auto mr-auto"> 
                    <div id="nevbar-left-row" class="row d-flex justify-content-center">
                        <div id="navbar-left-cost" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-center">
                                <a href="../{{main.field3}}" style="text-decoration: none; color: white;">
                                    <h6 id="navbar-left-cost-h6" type="button">
                                        تعرفه
                                    </h6>
                                </a>
                        </div>
                        <div id="navbar-left-portfolio" class="col-xl-2 col-lg-2 col-md-3 d-none d-md-block justify-content-center align-self-center">
                            <a href="../{{main.field4}}" style="text-decoration: none; color: white;">
                                <h6 id="navbar-left-portfolio-h6" type="button">
                                    پورتفولیو
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-left-sign" class="col-xl-3 col-lg-3 col-md-5 col-sm-5 d-none d-sm-block justify-content-center align-self-center">
                            <button id="navbar-left-sign-button" class="row btn btn-primary button" type="button" data-toggle="modal" data-target="#navbar-modal"> 
                                <h6 id="navbar-left-sign-button-h6">
                                    مشترک شو
                                </h6>
                                <img id="navbar-left-sign-button-img" src={% static "index/Dependencies/Images/Header/SignIcon.png" %}>
                            </button>
                        </div>
                        <div id="navbar-left-hamburger" class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-1 d-flex justify-content-center align-self-center">
                            <img id="navbar-left-hamburger-img" type="button" onclick="openNav()" src={% static "index/Dependencies/Images/Header/LeftMenuIcon.png" %}>
                        </div>
                    </div>
                </div>
            </div>
            <!--navbar-scroll-->

            <!--modal-->
            
                <!--modal-->
                <div id="navbar-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog d-flex justify-content-center" role="document">
                        <!--modal-base-->
                        <div id="navbar-modal-content" class="modal-content">
                            <button id="navbar-modal-close" type="button" class="btn close col-2" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div id="navbar-modal-title" class="row d-flex justify-content-center">
                                <h3 id="navbar-modal-title-h3" class="row d-flex justify-content-center">
                                    از دیدن شما خیلی خوشحالیم!
                                </h3>
                            </div>
                            <div id="navbar-modal-sign" class="row d-flex justify-content-center">
                                <form id="navbar-modal-form" method="POST" action="." class="row d-flex justify-content-center">                                                 
                                {% csrf_token %}
                                <input id="navbar-modal-form-input1" type="text" name="name" placeholder=" نام و نام خانوادگی " class="form-control" required>
                                <input id="navbar-modal-form-input2" type="tel" name="family" placeholder="شماره تماس" class="form-control" required>
                                <input id="navbar-modal-form-input3" type="email" name="email" placeholder="پست الکترونیکی" class="form-control" required>
                                <input id="navbar-modal-form-button" type="submit" class="btn btn-secondary btn-light button" value="">
                            </form>
                            </div>
                            <div id="navbar-modal-caption" class="row d-flex justify-content-center">
                                <h4 id="navbar-modal-caption-h4" style="margin: 6px 0px 0px 0px;">
                                    لازم نیست کار دیگه ای بکنی. ما باهات تماس می گیریم.
                                </h4>
                            </div>
                            <div id="navbar-modal-social" class="row d-flex justify-content-center">
                                <button id="navbar-modal-social-1" class="btn"></button>
                                <button id="navbar-modal-social-2" class="btn"></button>
                                <button id="navbar-modal-social-3" class="btn"></button>
                                <button id="navbar-modal-social-4" class="btn"></button>
                            </div>
                        </div>
                        <!--modal-base-->
                    </div>
                </div>
                <!--modal-->
            <!--modal-->

            
            <!--hamburger menu-->
            <div id="side-nav" class="sidenav">
                <button id="side-nav-close" type="button" class="btn close col-1" aria-label="Close" onclick="closeNav()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="side-nav-logo" class="col-12 d-flex justify-content-center align-self-center">
                    <img id="side-nav-logo-img" src={% static "index/Dependencies/Images/Logo/logo.png" %}>
                </div>
                <!--for large screens-->
                <div id="side-nav-1" class="row d-none d-lg-block justify-content-center">
                    <h1 id="side-nav-1-title" class="col-12 d-flex justify-content-center align-self-center">
                        <span style="color: rgb(47, 0, 0);">به</span> 
                        <span style="color: rgb(138, 0, 0);">وقت</span>  
                        <span style="color: red;">تغییر</span>
                        <span style="color: black;">!</span>
                    </h1>
                    <h6 id="side-nav-1-caption" class="col-9 d-flex justify-content-center align-self-center">
                        امروز تقریبا هر کسب و کاری که میشناسیم میتونه برای خودش یه بستر آنلاین داشته باشه. مثل سایت یا اپلیکیشن.<br>
                        اما مهم اینه که کار رو دست کی میسپرید. ما اینجاییم تا بهترین تجربه ممکن رو براتون رقم بزنیم. مرتبط بشید!
                    </h6>
                    <div id="side-nav-1-social" class="col6 d-flex justify-content-center align-self-center">
                        <button id="side-nav-1-social-button1" class="btn social-icon"></button>
                        <button id="side-nav-1-social-button2" class="btn social-icon"></button>
                        <button id="side-nav-1-social-button3" class="btn social-icon"></button>
                    </div>
                </div>
                <!--for large screens-->

                <!--for small screens-->
                <div id="side-nav-2" class="row d-lg-none d-flex justify-content-center">
                    <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">بلاگ</button>
                    </a>
                    <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">مرتبط شیم</button>
                    </a>
                    <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">تعرفه</button>
                    </a>
                    <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">پورتفولیو</button>
                    </a>
                </div>
                <!--for small screens-->
            </div>
            <!--hamburger menu-->
            
            <!--header-->
            <div id="header" class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 col-xs-12 justify-content-center">
                    <div id="header-title" class="row col-12 justify-content-center">
                        <h1 id="header-title-h1">
                            پولِ کم تر، کیفیتِ بهتر
                        </h1>
                    </div>
                    <div id="header-caption" class="row col-12 justify-content-center">
                        <h3 id="header-caption-h3">
                            هدف ما اینه که بتونیم در کنار ارائه بهترین و به روز ترین
                            امکانات و استفاده از جدیدترین تکنولوژی ها در پیاده سازی 
                            سفارشات شما، منصفانه ترین هزینه ممکن رو دریافت کنیم.
                        </h3>
                    </div>
                    <div id="header-sign" class="row col-12 justify-content-center">
                        <a href="#intro">    
                            <div class="scroll-downs">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--header-->

            <!--intro-->
            <div id="intro" class="row justify-content-center">
                <div id="intro-title" class="row col-12 justify-content-center">
                    <h1 id="intro-title-h1">
                        تعرفه تقریبی
                    </h1>
                </div>
                <div id="intro-caption" class="row col-9 justify-content-center">
                    <h3 id="intro-caption-h3">
                        قطعا تعرفه طراحی سایت شما با توجه به امکاناتی که براش در نظر دارید
                        متفاوت خواهد بود. ولی ما در یک نگاه کلی، سایت هارو به سه دسته کلی
                        تقسیم می کنیم و بر همین اساس یک تعرفه تقریبی براشون در نظر می گیریم.
                    </h3> 
                </div>
            </div>
            <!--intro-->

            <!--acardeon-->
            <div id="acardeon" class="row justify-content-center">
                <div id="acardeon-buttons" class="row col-8 justify-content-start">
                    <!--for large screens-->
                    <button id="acardeon-buttons-1" onclick="acardeon1()" class="btn button-acardeon d-none d-lg-block">
                        <h5 class="acardeon-font">
                            شخصی یا شرکتی
                        </h5>
                    </button>
                    <button id="acardeon-buttons-2" onclick="acardeon2()" class="btn button-acardeon d-none d-lg-block">
                        <h5 class="acardeon-font">
                            فروشگاهی یا خدماتی
                        </h5>
                    </button>
                    <button id="acardeon-buttons-3" onclick="acardeon3()" class="btn button-acardeon d-none d-lg-block">
                        <h5 class="acardeon-font">
                            اختصاصی
                        </h5>
                    </button>
                    <!--for large screens-->

                    <!--for small screens-->
                    <button id="acardeon-buttons-1" onclick="acardeon1()" class="btn button-acardeon1 d-lg-none">
                        <h5 class="acardeon-font">
                            شرکتی
                        </h5>
                    </button>
                    <button id="acardeon-buttons-2" onclick="acardeon2()" class="btn button-acardeon1 d-lg-none">
                        <h5 class="acardeon-font">
                            خدماتی
                        </h5>
                    </button>
                    <button id="acardeon-buttons-3" onclick="acardeon3()" class="btn button-acardeon1 d-lg-none">
                        <h5 class="acardeon-font">
                            اختصاصی
                        </h5>
                    </button>
                    <!--for small screens--> 
                </div>
                <div id="acardeon-tabs" class="row col-8 justify-content-center">
                    <div id="acardeon-tabs-main" class="row justify-content-center col-12 tabs-acardeon">
                        <div id="text1" class="row col-11 justify-content-center" style="font-size: 23px; text-align: center; margin: 50px 20px 40px 20px;">
                            <p style="font-size: 23px; text-align: center;">
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                            </p>
                            <h4 style="font-size: 30px; text-align: center; margin-top: 30px;">
                                هزینه تقریبی دو میلیون تومان
                            </h4>
                        </div>
                        <div id="text2" class="row col-11 justify-content-center d-none" style="font-size: 23px; text-align: center; margin: 50px 20px 40px 20px;">
                            <p style="font-size: 23px; text-align: center;">
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                            </p>
                            <h4 style="font-size: 30px; text-align: center; margin-top: 30px;">
                                هزینه تقریبی پنج میلیون تومان
                            </h4>
                        </div>
                        <div id="text3" class="row col-11 justify-content-center d-none" style="font-size: 23px; text-align: center; margin: 50px 20px 40px 20px;">
                            <p style="font-size: 23px; text-align: center;">
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                                کمکت می کنیم خودتو به بهترین شکل ممکن معرفی کنی.
                                می تونی یه رزومه آنلاین داشته باشی یا یه گالری شخصی. 
                                در کنارش اگر شرکت یا کسب و کار شخصی ای داری که نیاز به تبلیغات داره،
                                می تونی از محصولات این دسته استفاده کنی.
                            </p>
                            <h4 style="font-size: 30px; text-align: center; margin-top: 30px;">
                                هزینه تقریبی ده میلیون تومان
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--acardeon-->

            <!--calculate-->
            <div id="calculate" class="row justify-content-center">
                <div id="div-calculate" class="row col-11 justify-content-center d-none d-lg-block">
                        <h1 id="h1title-costonline" class="row justify-content-center">محاسبه آنلاین هزینه</h1> 
                        <div id="typenumber-site" class="row justify-content-center">
                            <div id="type-site" class="row justify-content-center col-xl-8 col-lg-8 col-md-12">
                                <div class="row justify-content-center align-self-center col-xl-3 col-lg-4">
                                    <h4 id="h4title-type">نوع سایت</h4> 
                                </div>
                                <div class="row justify-content-center align-self-center col-xl-8 col-lg-8" id="">
                                    <input id="company" class="btn btn-outline-light" type="button" value="شرکتی" onclick="company()">
                                    <input id="stores" class="btn btn-outline-light" type="button" value="فروشگاهی" onclick="stores()">
                                    <input id="special" class="btn btn-outline-light" type="button" value="اختصاصی" onclick="special()">
                                </div>     
                            </div>
        
                            <div class="row justify-content-center col-xl-4 col-lg-4 col-md-12" id="number-damane">
                                <div class="row justify-content-center align-self-center col-xl-9 col-lg-10 col-md-7">
                                    <h4 id="h4title-number">تعداد دامنه</h4>
                                </div>
                                <div class="row justify-content-center align-self-center col-xl-2 offset-xl-1 col-lg-2 col-md-4">
                                    <section class="container">
                                        <form class="form-horizontal">
                                            <select id="sellecnumber" class="form-control">
                                                <option value="1"><h2>یک</h2></option>
                                                <option value="2"><h2>دو</h2></option>
                                                <option value="3"><h2>سه</h2></option>
                                            </select>
                                        </form>
                                    </section>  
                                </div>
                            </div>
                        </div> 
                        <div id="rangeslider" class="row justify-content-center align-self-center">
                            <div id="textrange" class="row justify-content-center align-self-center col-xl-5 col-lg-5 col-md-12">
                                <h4 id="text-range"> میزان حافظه مورد نیاز</h4>
                            </div>
        
                            <div id="calhard" class="row justify-content-start col-xl-7 col-lg-7 col-md-12">
        
                                <div id="range" class="row justify-content-center align-self-center justify-content-md-end col-xl-8 col-lg-8 col-md-7">
                                    <input dir="ltr" id="myinput" type="range" min="0" value="1" max="10" step="1" list="tickmarks"/>
                                </div>
        
                                <div id="div-output" class="row justify-content-center align-self-center col-xl-3 col-lg-4 col-md-3">
                                    <div id="output"></div>
                                </div>
                                
                                <div id="div-text-megabyte" class="row justify-content-center align-self-center col-xl-1 col-lg-1 col-md-1">
                                    <h4 id="text-megabyte"> مگابایت </h4>
                                </div>
        
                            </div>
                        </div>
                        
        
                        <div id="accessories" class="row justify-content-center align-self-center">
                            <div class="row justify-content-start align-self-center col-xl-3 offset-xl-1 col-lg-4 col-md-4">
                                <label class="container"><h4 id="title-checkbox"> صفحات اضافه</h4>
                                    <input type="checkbox" id="add page">
                                    <span class="checkmark"></span>
                                </label>                              
                            </div>
                            <div class="row justify-content-center align-self-center col-xl-3 offset-xl-1 col-lg-4 col-md-4">
                                <label class="container"><h4 id="title-checkbox"> درگاه پرداخت</h4>
                                    <input type="checkbox" id="payment gateway">
                                    <span class="checkmark"></span>
                                </label>                                
                            </div>
                            <div class="row justify-content-end align-self-center col-xl-3 offset-xl-1 col-lg-4 col-md-4">
                                <label class="container"><h4 id="title-checkbox"> اتصال امن</h4>
                                    <input type="checkbox" id="safe connection">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
    
                    <div id="cost" class="row justify-content-center">
                        <div>
                            <div id="btn-out" onclick="cost()" class="button button-1 row">محاسبه</div>
                        </div>   
                    </div>
                    <div id="text-out" class="row justify-content-center">
                        <div class="row justify-content-center col-xl-5 offset-xl-2 col-lg-5 offset-lg-1">
                            <p id="total-text">مجموع هزینه</p><p id="total-text2">(تقریبی)</p>
                        </div>                 
                        <output class="row justify-content-center col-xl-4 col-lg-4 " id="cost-out">2021500
                        
                        </output> 
                          <div id="tooman" class="row justify-content-start col-xl-1 col-lg-2">تومان</div>
                    </div>     
            </div>
            </div>
            <!--calculate-->

            <!--footer-->
            <div id="footer" class="row d-flex justify-content-center">
                <div id="footer-back" class="row justify-content-center">
                    <h5 id="footer-caption" class="col-12 justify-content-center align-self-center">
                        <b>
                            طراحی شده توسط کودا ::: تمامی حقوق محفوظ است
                        </b>
                    </h5>
                </div>
            </div>
            <!--footer--> 
        </div>

    </body>
    <script>
        AOS.init();
        var x=0;
        document.getElementById("myinput").oninput = function() 
        {
            this.style.background = 'linear-gradient(to right, #FF5400 0%, #FF5400 ' + 10*this.value + '%, #bbbbbb ' + this.value + '%, #bbbbbb 100%)' 
            var values = [0,500,1000,2000,5000,10000,15000,20000,30000,40000,50000];
            var input = document.getElementById('myinput'),
            output = document.getElementById('output');
            output.innerHTML = values[input.value];
        };
        document.getElementById("myinput").oninput();

        function company() {
        document.getElementById("company").style.zIndex = 2;
        document.getElementById("stores").style.zIndex = 1;
        document.getElementById("special").style.zIndex = 0;
        x= 2000000;
        }

        function stores() {
        document.getElementById("company").style.zIndex = 1;
        document.getElementById("stores").style.zIndex = 2;
        document.getElementById("special").style.zIndex = 1;
        x= 5000000;
        }

        function special() {
        document.getElementById("company").style.zIndex = 0;
        document.getElementById("stores").style.zIndex = 1;
        document.getElementById("special").style.zIndex = 2;
        x= 10000000;
        }
        function cost(){
        var d=document.getElementById("sellecnumber").value;
        var c=d*20000;
        var values = [0,500,1000,2000,5000,10000,15000,20000,30000,40000,50000];
            var input = document.getElementById('myinput');
            var a= values[input.value];
        var e= c+a*3; 
        var p = document.getElementById("add page");
        var q=0;
        if(p.checked==true){
        q=100000;
        }
        var g = document.getElementById("payment gateway");
        var m=0;
        if(g.checked==true){
        m=100000;
        }
        var s = document.getElementById("safe connection");
        var y=0;
        if(s.checked==true){
            y=100000;
        }
        var t=e+m+y+q+x;
        document.getElementById("cost-out").innerHTML = t;
        
}



    </script>

</html>
