<!DOCTYPE html>

<html dir="rtl">

    <head>
        <!--Css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        
        <link rel="stylesheet" href="static/index/landing.css"> 
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">        
        <!--Css-->

        <!--JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="static/index/landing.js"></script> 
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!--JavaScript-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>
            Coda | This is our website
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="static/index/favicon.ico"/>

    </head>

    <body id="Main" onload="myFunction()">
        
        <!--page loader-->
        <div id="loader" class="spinner-grow text-dark position-fixed" role="status">
            
        </div>
        <!--page loader-->

        <!--social-bar-->
        <div id="social-bar" class="position-fixed">
            <a href="www.instagram.com/hicoda.ir">
                <img id="social-bar-1" class="social-bar-icon" src="static/index/Dependencies/Images/social/instagram.png">
            </a>
            <a href="www.telegram.com/hicoda.ir">
                <img id="social-bar-2" class="social-bar-icon" src="static/index/Dependencies/Images/social/telegram.png">
            </a>
            <a href="www.bale.com/hicoda.ir">
                <img id="social-bar-3" class="social-bar-icon" src="static/index/Dependencies/Images/social/bale.png">
            </a>
            <a href="www.hithub.com/hicoda.ir">
                <img id="social-bar-4" class="social-bar-icon" src="static/index/Dependencies/Images/social/github.png">
            </a>
        </div>
        <!--social-bar-->

        <div id="main" class="container-fluid">
            <!--navbar-->
            <div id="navbar" class="row d-flex justify-content-center">
                <div id="navbar-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-4 col-auto ml-auto">
                    <div id="navbar-right-row" class="row d-flex justify-content-center">    
                        <div id="navbar-right-logo" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 d-flex justify-content-center align-self-center">
                            <a href="#">
                                <img id="navbar-right-logo-img" src="static/index/Dependencies/Images/Logo/logo.png">
                            </a>
                        </div>
                        <div id="navbar-right-blog" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-end">
                            <a href={% url "contact_us" %} style="text-decoration: none; color: white;">    
                                <h6 id="navbar-right-blog-h6" class="text" type="button">
                                    بلاگ
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-right-contact" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 d-none d-md-block justify-content-center align-self-end">
                            <a href={% url "contact_us" %} style="text-decoration: none; color: white;">
                                <h6 id="navbar-right-contact-h6" type="button">
                                    ارتباط
                                </h6>
                            </a>
                        </div>
                    </div>    
                </div>
    
                <div id="navbar-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2 col-auto mr-auto"> 
                    <div id="nevbar-left-row" class="row d-flex justify-content-center">
                        <div id="navbar-left-cost" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-end">
                                <a href={% url "costs" %} style="text-decoration: none; color: black;">
                                    <h6 id="navbar-left-cost-h6" type="button">
                                        تعرفه
                                    </h6>
                                </a>
                        </div>
                        <div id="navbar-left-portfolio" class="col-xl-2 col-lg-2 col-md-3 d-none d-md-block justify-content-center align-self-end">
                            <a href={% url "portfolio" %} style="text-decoration: none; color: black;">
                                <h6 id="navbar-left-portfolio-h6" type="button">
                                    پورتفولیو
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-left-sign" class="col-xl-3 col-lg-3 col-md-5 col-sm-5 d-none d-sm-block justify-content-center align-self-center">
                            <button id="navbar-left-sign-button" class="row btn btn-primary button" type="button" data-toggle="modal" data-target="#navbar-modal"> 
                                <h6 id="navbar-left-sign-button-h6">
                                    مشترک شو
                                </h6>
                                <img id="navbar-left-sign-button-img" src="static/index/Dependencies/Images/Navbar/person/Sign Icon.png">
                            </button>
                        </div>
                        <div id="navbar-left-hamburger" class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-1 d-flex justify-content-center align-self-center">
                            <img id="navbar-left-hamburger-img" type="button" onclick="openNav()" src="static/index/Dependencies/Images/Navbar/LeftMenuIcon.png">
                        </div>
                    </div>
                </div>
            </div>
            <!--navbar-->

            <!--navbar-scroll-->
            <div id="navbar-scroll" class="row d-flex justify-content-center fixed-top">
                <div id="navbar-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-4 col-auto ml-auto">
                    <div id="navbar-right-row" class="row d-flex justify-content-center">    
                        <div id="navbar-right-logo" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 d-flex justify-content-center align-self-center">
                            <a href="#">
                                <img id={% url "contact_us" %} src="static/index/Dependencies/Images/Logo/logo.png">
                            </a>
                        </div>
                        <div id="navbar-right-blog" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-end">
                            <a href={% url "contact_us" %} style="text-decoration: none; color: black;">    
                                <h6 id="navbar-right-blog-h6" class="text" type="button">
                                    بلاگ
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-right-contact" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 d-none d-md-block justify-content-center align-self-end">
                            <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                                <h6 id="navbar-right-contact-h6" type="button">
                                    ارتباط
                                </h6>
                            </a>
                        </div>
                    </div>    
                </div>
    
                <div id="navbar-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2 col-auto mr-auto"> 
                    <div id="nevbar-left-row" class="row d-flex justify-content-center">
                        <div id="navbar-left-cost" class="col-xl-2 col-lg-2 d-none d-lg-block justify-content-center align-self-end">
                                <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                                    <h6 id="navbar-left-cost-h6" type="button">
                                        تعرفه
                                    </h6>
                                </a>
                        </div>
                        <div id="navbar-left-portfolio" class="col-xl-2 col-lg-2 col-md-3 d-none d-md-block justify-content-center align-self-end">
                            <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                                <h6 id="navbar-left-portfolio-h6" type="button">
                                    پورتفولیو
                                </h6>
                            </a>
                        </div>
                        <div id="navbar-left-sign" class="col-xl-3 col-lg-3 col-md-5 col-sm-5 d-none d-sm-block justify-content-center align-self-center">
                            <button id="navbar-left-sign-button" class="row btn btn-primary button" type="button" data-toggle="modal" data-target="#navbar-modal"> 
                                <h6 id="navbar-left-sign-button-h6">
                                    مشترک شو
                                </h6>
                                <img id="navbar-left-sign-button-img" src="static/index/Dependencies/Images/Navbar/person/Sign Icon.png">
                            </button>
                        </div>
                        <div id="navbar-left-hamburger" class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-1 d-flex justify-content-center align-self-center">
                            <img id="navbar-left-hamburger-img" type="button" onclick="openNav()" src="static/index/Dependencies/Images/Navbar/LeftMenuIcon.png">
                        </div>
                    </div>
                </div>
            </div>
            <!--navbar-scroll-->

            <!--modal-->
            <div id="navbar-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog d-flex justify-content-center" role="document">
                    <!--modal-base-->
                    <div id="navbar-modal-content" class="modal-content">
                        <button id="navbar-modal-close" type="button" class="btn close col-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="navbar-modal-title" class="row d-flex justify-content-center">
                            <h3 id="navbar-modal-title-h3" class="row d-flex justify-content-center">
                                از دیدن شما خیلی خوشحالیم!
                            </h3>
                        </div>
                        <div id="navbar-modal-sign" class="row d-flex justify-content-center">
                            <form id="navbar-modal-form" method="POST" action="{% url "index" %}" class="row d-flex justify-content-center">                                                 
                                {% csrf_token %}
                                <input id="navbar-modal-form-input1" type="text" name="name" placeholder=" نام و نام خانوادگی " class="form-control" required>
                                <input id="navbar-modal-form-input2" type="tel" name="family" placeholder="شماره تماس" class="form-control" required>
                                <input id="navbar-modal-form-input3" type="email" name="email" placeholder="پست الکترونیکی" class="form-control" required>
                                <input id="navbar-modal-form-button" type="submit" class="btn btn-secondary btn-light button" value="">
                            </form>
                        </div>
                        <div id="navbar-modal-caption" class="row d-flex justify-content-center">
                            <h4 id="navbar-modal-caption-h4" style="margin: 6px 0px 0px 0px;">
                                لازم نیست کار دیگه ای بکنی. ما باهات تماس می گیریم.
                            </h4>
                        </div>
                        <div id="navbar-modal-social" class="row d-flex justify-content-center">
                            <button id="navbar-modal-social-1" class="btn"></button>
                            <button id="navbar-modal-social-2" class="btn"></button>
                            <button id="navbar-modal-social-3" class="btn"></button>
                            <button id="navbar-modal-social-4" class="btn"></button>
                        </div>
                    </div>
                    <!--modal-base-->
                </div>
            </div>
            <!--modal-->

            <!--modal-video-large-->
            <div id="navbar-modal-video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog d-flex justify-content-center" role="document">
                    <div id="navbar-modal-video-content" class="modal-content">
                        <!--
                        <style>
                            .h_iframe-aparat_embed_frame{
                                position:relative;
                                }
                            .h_iframe-aparat_embed_frame.ratio{
                                display:block;
                                width:100%;
                                height:auto;
                                }
                            .h_iframe-aparat_embed_frame iframe{
                                position:absolute;
                                width:130%;
                                height:130%;
                                border-radius: 30px;
                                border-width: 0;
                                }
                        </style>
                        <div class="h_iframe-aparat_embed_frame d-flex justify-content-center">
                            <span style="display: block; padding-top: 57%"></span>
                            <iframe src="https://www.aparat.com/video/video/embed/videohash/W9BNr/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <!--modal-video-large-->

            <div id="header" class="row">
                <!--for desktop version-->
                <div id="header-right" class="col-xl-6 col-lg-7 d-none d-lg-block">
                    <div id="header-right-title" class="row d-flex justify-content-center">
                        <h1 id="header-right-title-h1">
                            وقتشه ایده هاتو<br> عملی کنی!
                        </h1>
                    </div>
                    <div id="header-right-caption" class="row d-flex justify-content-center">
                        <h2 id="header-right-caption-h2">
                            میدونیم خیلی وقته دنبال یه جای<br>مطمین برای عملی کردن ایده هات<br>میگردی...
                        </h2>
                    </div>
                </div>
    
                <div id="header-left" class="col-xl-6 col-lg-5 d-none d-lg-block align-self-center">
                    <div id="header-left-title" class="row d-flex justify-content-center">
                        <h3 id="header-left-title-h3">
                            شروع همکاری
                        </h3>
                    </div>
                    <!--<div id="header-left-sign" class="row d-flex justify-content-center">
                        <form id="header-left-sign-form" class="row">                                                 
                            <input id="header-left-sign-form-input" type="number" placeholder="شماره تماس" class="form-control" required>
                            <input id="header-left-sign-form-button" type="submit" class="btn btn-secondary btn-light button" value="">
                        </form>
                    </div>-->
                    <div id="header-left-sign" class="row d-flex justify-content-center">
                        <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                            <button id="header-left-sign-button1" type="button" value="" class="btn btn-danger button-header">سفارش پروژه جدید</button>
                        </a>
                        <button id="header-left-sign-button2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#navbar-modal-video" style="width: 60px; height: 60px; border-radius: 50px; margin: 5px;"></button>
                    </div>
                    <!--<div id="header-left-caption" class="row d-flex justify-content-center">
                        <h4 id="header-left-caption-h4">
                            لازم نیست کار دیگه ای بکنی. ما باهات تماس می گیریم.
                        </h4>
                    </div>-->
                </div>
                <!--for desktop version--> 

                <!--for tablet and mobile version-->    
                <div id="header-right_" class="d-lg-none col-md-12 col-sm-12 col-xs-12">
                    <div id="header-right-title_" class="row d-flex justify-content-center">
                        <h1 id="header-right-title-h1_">
                            <center>وقتشه ایده هاتو<br> عملی کنی!</center>
                        </h1>
                    </div>
                    <!--<div id="header-left-sign_" class="row d-flex justify-content-center">
                        <form id="header-left-sign-form_" class="row">                                                 
                            <input id="header-left-sign-form-input_" type="number" placeholder="شماره تماس" class="form-control" required>
                            <input id="header-left-sign-form-button_" type="submit" class="btn btn-secondary btn-light" value="">
                        </form>
                    </div>-->
                    <div id="header-left-sign_" class="row d-flex justify-content-center">
                        <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                            <button id="header-left-sign-button1_" type="button" value="" class="btn btn-danger button-header">سفارش پروژه جدید</button>
                        </a>
                        <button id="header-left-sign-button2" type="button" value="" class="btn btn-primary" data-toggle="modal" data-target="#navbar-modal-video"></button>
                    </div>
                    <!--<div id="header-left-caption_" class="row d-flex justify-content-center">
                        <h4 id="header-left-caption-h4_">
                            لازم نیست کار دیگه ای بکنی. ما باهات تماس می گیریم.
                        </h4>
                    </div>-->
                </div>
                <!--for tablet and mobile version--> 
            </div>

            <!--hamburger menu-->
            <div id="side-nav" class="sidenav">
                <button id="side-nav-close" type="button" class="btn close col-1" aria-label="Close" onclick="closeNav()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="side-nav-logo" class="col-12 d-flex justify-content-center align-self-center">
                    <img id="side-nav-logo-img" src="static/index/Dependencies/Images/Logo/logo.png"/>
                </div>
                <!--for large screens-->
                <div id="side-nav-1" class="row d-none d-lg-block justify-content-center">
                    <h1 id="side-nav-1-title" class="col-12 d-flex justify-content-center align-self-center">
                        <span style="color: rgb(47, 0, 0);">به</span> 
                        <span style="color: rgb(138, 0, 0);">وقت</span>  
                        <span style="color: red;">تغییر</span>
                        <span style="color: black;">!</span>
                    </h1>
                    <h6 id="side-nav-1-caption" class="col-9 d-flex justify-content-center align-self-center">
                        امروز تقریبا هر کسب و کاری که میشناسیم میتونه برای خودش یه بستر آنلاین داشته باشه. مثل سایت یا اپلیکیشن.<br>
                        اما مهم اینه که کار رو دست کی میسپرید. ما اینجاییم تا بهترین تجربه ممکن رو براتون رقم بزنیم. مرتبط بشید!
                    </h6>
                    <div id="side-nav-1-social" class="col6 d-flex justify-content-center align-self-center">
                        <button id="side-nav-1-social-button1" class="btn social-icon">
                            <img class="icon-social" src="static/index/Dependencies/Images/social/telegram2.png">
                        </button>
                        <button id="side-nav-1-social-button2" class="btn social-icon">
                            <img class="icon-social" src="static/index/Dependencies/Images/social/git4.png">
                        </button>
                        <button id="side-nav-1-social-button3" class="btn social-icon">
                            <img class="icon-social" src="static/index/Dependencies/Images/social/telegram2.png">
                        </button>
                    </div>
                </div>
                <!--for large screens-->

                <!--for small screens-->
                <div id="side-nav-2" class="row d-lg-none d-flex justify-content-center">
                    <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">بلاگ</button>
                    </a>
                    <a href={% url "contact_us" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">مرتبط شیم</button>
                    </a>
                    <a href={% url "costs" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">تعرفه</button>
                    </a>
                    <a href={% url "portfolio" %} style="text-decoration: none; color: black;">
                        <button id="side-nav-1-social-button1" class="btn nav-item">پورتفولیو</button>
                    </a>
                </div>
                <!--for small screens-->
            </div>
            <!--hamburger menu-->

            <!--differences-->
            <div id="differences" class="row justify-content-center">
                <div  id="differences-title" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                    <h1 id="differences-title-h1" class="col-12 d-flex justify-content-center align-self-center">
                        تفاوت ما <br> با بقیه؟
                    </h1>
                </div>
                <div data-aos="zoom-in" id="differences-item1" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12 row d-flex justify-content-center">
                    <svg id="differences-item1-svg" class="bi bi-clipboard-check col-12" width="5em" height="5em" viewBox="0 0 16 16" style="color: orangered;" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    <h3 id="differences-item1-h3" class="col-12">
                        حرفمون <br> حرفه
                    </h3>
                </div>
                <div data-aos="zoom-in" id="differences-item2" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12 row d-flex justify-content-center">
                    <svg id="differences-item2-svg" class="bi bi-percent col-12" width="5em" height="5em" viewBox="0 0 16 16" style="color: orangered;" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                    <h3 id="differences-item2-h3" class="col-12">
                        قیمتمون <br> مناسبه
                    </h3>  
                </div>
                <div data-aos="zoom-in" id="differences-item3" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12 row d-flex justify-content-center">
                    <svg id="differences-item3-svg" class="bi bi-people col-12" width="5em" height="5em" viewBox="0 0 16 16" style="color: orangered;" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                    </svg>
                    <h3 id="differences-item3-h3" class="col-12">
                        همیشه <br> کنارتیم
                    </h3>
                </div>
            </div>
            <!--differences-->

            <!--blog-->
            <div id="blog" class="row justify-content-center">
                <div id="blog-slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div id="blog-slider-post" class="carousel-inner">
                        {% for post in posts%}
                            <div id="slider-post-1" class="carousel-item{% if forloop.counter == 1 %} active{% endif %}" >
                                <img id="slider-post-1-img" class="d-block w-100" src="https://vistapointe.net/images/background-1.jpg" alt="First slide">
                                <h2 class="title-pos d-none d-md-block">
                                    {{post.title}}
                                </h2>
                                <h5 id="slider-post-1-h5" class="caption-pos d-none d-lg-block">
                                    {{post.content}}
                                </h5>
                                <button id="slider-post-1-button" class="btn btn-light button-pos d-none d-md-block">بیشتر بخون</button>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#blog-slider" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#blog-slider" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <!--blog-->

            <!--team-->
            <div id="team" class="row d-flex justify-content-center">
                <h1 id="team-title" class="col-12 d-flex justify-content-center align-self-center">تیم ما</h1>
                <div id="team-slider" class="col-10 justify-content-center carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <!--carousel-block-->
                        {% for user in users %}
                            <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                                <div class="row">
                                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center align-self-center">
                                        <!--social for large screens-->
                                        <div id="team-slider-iteam-social" class="row col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 d-none d-lg-block justify-content-center align-self-center">
                                            <a href="www.t.me/coda">
                                                <button id="team-slider-iteam-social-1" class="btn btn-warning button-social">
                                                    <img class="icon-social" src="static/index/Dependencies/Images/social/soctelegram.png">
                                                </button>
                                            </a>
                                        </div>
                                        <!--social for large screens-->

                                        <div class="row col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center align-self-center">
                                            <img id="team-slider-item-user" class="justify-content-center" src={{user.img}}>
                                            <h2 class="col-12 justify-content-center" class="justify-content-center" style="text-align: center;">
                                                {{ user.name }}
                                            </h2>
                                            <h5 class="col-12 justify-content-center" style="text-align: center;">
                                                {{user.description}}
                                            </h5>
                                        </div>

                                        <!--social for small screens-->
                                        <div id="team-slider-iteam-social" class="row col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 d-lg-none justify-content-center align-self-center">
                                            <a href="www.t.me/coda">
                                                <button id="team-slider-iteam-social-1" class="btn btn-warning button-social">
                                                    <img class="icon-social" src="static/index/Dependencies/Images/social/soctelegram.png">
                                                </button>
                                            </a>
                                        </div>
                                        <!--social for small screens-->
                                    </div>
                                    <h1 id="team-slider-item-caption" class="col-xl-7 col-lg-7 d-none d-lg-block justify-content-center align-self-center">
                                        {{user.theory}}
                                    </h1>
                                </div>
                            </div>
                        {% endfor %}
                        <!--carousel-block-->
                    </div>
                    <a class="carousel-control-prev" href="#team-slider" role="button" data-slide="prev" style="width: 20px; height: 20px; margin-top: 130px; z-index: auto;">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: orangered; border-radius: 10px; margin-left: -50px; width: 20px; height: 20px;"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#team-slider" role="button" data-slide="next" style="width: 20px; height: 20px; margin-top: 130px;">
                        <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: orangered; border-radius: 10px; margin-right: -50px; width: 20px; height: 20px;"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--team-->

            <!--footer-->
            <div id="footer" class="row d-flex justify-content-center">
                <div id="footer-back" class="row justify-content-center">
                    <h5 id="footer-caption" class="col-12 justify-content-center align-self-center">
                        <b>
                            طراحی شده توسط کودا ::: تمامی حقوق محفوظ است
                        </b>
                    </h5>
                </div>
            </div>
            <!--footer-->     
        </div>

    </body>
    <script>
        AOS.init();
    </script>

</html>
