<!DOCTYPE html>

<html dir="rtl">
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        
        <link rel="stylesheet" href="Landing.css">        

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

        <title>
            Coda | This is our website
        </title>

    </head>
    <body>

        <!--JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!--JavaScript-->
        
        
        <div id="Main" class="container-fluid">


            <div id="Navbar" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row">

                <div id="Navbar_Right" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <div id="Navbar_Right_Row" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">
                        
                            <div id="Navbar_Right_Logo" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-8">                    
                                <a href="#">
                                    <img id="Navbar_Right_Logo_IMG" src="Dependencies/Images/Logo/logo.png"/>
                                </a>
                            </div>


                            <div id="Navbar_Right_Blog" class="col-xl-2 col-lg-2 d-none d-lg-block">      
                                <a href="../BlogPage/Blog.htm">
                                    <h6 class="col-xl-2 col-lg-2 d-none d-lg-block" id="Navbar_Right_Blog_H6">
                                        بلاگ
                                    </h6>
                                </a>
                            </div>


                            <div id="Navbar_Right_Contact" class="col-xl-3 col-lg-3 d-none d-lg-block">                          
                                <a href="../ContactPage/Contact.htm">    
                                    <h6 id="Navbar_Right_Contact_H6">
                                        مرتبط شیم
                                    </h6>
                                </a>
                            </div>

                    </div>

                </div>


                <div id="Navbar_Left" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    <div id="Navbar_Left_Row" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">

                            <div id="Navbar_Left_Costs" class="col-xl-2 d-none d-xl-block">
                                <a href="../CostsPage/Costs.htm">        
                                    <h6 id="Navbar_Left_Costs_H6">
                                        تعرفه ها
                                    </h6>
                                </a>
                            </div>

                            <div id="Navbar_Left_Projects" class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <a href="../PortfolioPage/Portfolio.htm">        
                                    <h6 id="Navbar_Left_Projects_H6">
                                        نمونه کارها
                                    </h6>
                                </a>
                            </div>

                            <div id="Navbar_Left_Contact_Sign" class="col-xl-4 col-lg-3 col-md-4 col-sm-3 d-none d-sm-block">

                                <a id="Navbar_Left_Contact_Sign_A" href="../FormTemplate/Form.htm">
                                    <button id="Navbar_Left_Contact_Sign_Button" type="button" class="btn btn-secondary btn-lg mainbutton orangebutton">

                                        <div id="Navbar_Left_Contact_Sign_Button_Row" class="row">

                                            <div id="Navbar_Left_Contact_Sign_Button_Text" class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                                <h6 id="Navbar_Left_Contact_Sign_Button_Text_H6">
                                                    مشترک شو
                                                </h6>
                                            </div>

                                            <div id="Navbar_Left_Contact_Sign_Button_Icon" class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                                <img id="Navbar_Left_Contact_Sign_Button_Icon_IMG" src="Dependencies/Images/Navbar/NavBar.png"/>
                                            </div>

                                        </div>

                                    </button>
                                </a>    

                            </div>  
                        </a>


                        <div id="Navbar_Left_Contact_Hamburger" class="col-xl-2 col-lg-2 col-md-4 col-sm-2 col-xs-8">                           
                            <img id="Navbar_Left_Contact_Hamburger_IMG" src="Dependencies/Images/Navbar/LeftMenuIcon.png"/>
                        </div>  


                    </div>

                </div>

            </div>


            <div id="Header" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row">

                <div id="Header_Right" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div id="Header_Right_Row" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">
  
                        <div id="Header_Right_Title" class="col-xl-8 col-lg-10 col-md-10 col-sm-10 col-xs-12">                   
                            <h1 id="Header_Right_Title_H1">     
                                وقتشه ایده هاتو <br> عملی کنی                          
                            </h1>                   
                        </div>

                        <div id="Header_Right_Paragraph" class="col-xl-8 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">
                                <h3 id="Header_Right_Paragraph_H3">
                                    میدونیم خیلی وقته دنبال یه جای <br> مطمین برای عملی کردن ایده هات <br> میگردی...                                
                                </h3>
                        </div>
                        
                    </div>

                </div>

                <div id="Header_Left" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div id="Header_Left_Row" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">
  
                        <div id="Header_Left_Title" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">                            
                            <h1 id="Header_Left_Title_H1">
                                شروع همکاری
                            </h1>
                        </div>

                        <div id="Header_Left_Input" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">                            
                            <form id="Header_Left_Input_Form" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">                                                 
                                    <input id="Header_Left_Input_Form_NumberInput" type="number" placeholder="شماره تماس" class="form-control">
                                    <input id="Header_Left_Input_Form_ButtonInput" type="submit" class="btn btn-secondary btn-lg mainbutton orangebutton" value="">
                            </form>
                        </div>

                        <div id="Header_Left_Caption" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">                          
                            <h6 id="Header_Left_Caption_H6">
                                لازم نیست کار دیگه ای بکنی. ما باهات تماس می گیریم.
                            </h6>
                        </div>
                        
                    </div>

                </div>

            </div>


            <div id="OurDifference" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">

                <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center"">

                    <div id="OurDifference_Title2" class="d-lg-none col-md-12 col-sm-12 col-xs-12">                  
                        <h1 id="OurDifference_Title2_H1">
                            تفاوت ما <br> با بقیه؟!
                        </h1>
                    </div>
                    
                    <div id="OurDifference_Item_3" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">

                        <div id="OurDifference_Item_3_Caption" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                            <h1 id="OurDifference_Item_3_Caption_Title_H1" class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                همیشه <br> کنارتیم
                            </h1>
                            <h1 id="OurDifference_Item_3_Caption_Number_H1" class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                3
                            </h1>
                        </div>

                    </div>

                    <div id="OurDifference_Item_2" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        
                        <div id="OurDifference_Item_2_Caption" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                            <h1 id="OurDifference_Item_2_Caption_Title_H1" class="col-md-9">
                                حرفمون <br> حرفه
                            </h1>
                            <h1 id="OurDifference_Item_2_Caption_Number_H1" class="col-md-3">
                                2
                            </h1>
                        </div>
                    </div>
                    
                    <div id="OurDifference_Item_1" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">

                        <div id="OurDifference_Item_1_Caption" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                            <h1 id="OurDifference_Item_1_Caption_Title_H1" class="col-md-9">
                                قیمتمون <br> مناسبه
                            </h1>
                            <h1 id="OurDifference_Item_1_Caption_Number_H1" class="col-md-3">
                                1
                            </h1>
                        </div>

                    </div>

                    <div id="OurDifference_Title" class="col-xl-3 col-lg-3 col-md-12 d-none d-lg-block">                  
                        <h1 id="OurDifference_Title_H1">
                            تفاوت ما <br> با بقیه؟!
                        </h1>
                    </div>

                </div>

            </div>


            <div id="Blog" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row justify-content-md-center">

                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10 row">

                    <div id="Blog_Slider" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div id="Blog_Slider_Content" class="carousel slide" data-ride="carousel">                       
                            <ol id="Blog_Slider_Content_OL" class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            
                            <div id="Blog_Slider_Content_Inner" class="carousel-inner">
                            
                                <div id="Blog_Slider_Content_Inner_ItemActive" class="carousel-item active">
                                    <img id="Blog_Slider_Content_Inner_ItemActive_IMG" class="d-block w-100" src="https://media.macphun.com/img/uploads/customer/how-to/579/15349456005b7d69405aabf4.32904503.jpg?q=85&w=1340" alt="First slide">
                            
                                    <div id="Blog_Slider_Content_Inner_ItemActive_Caption_" class="row carousel-caption d-none d-xl-block">
                                        <h1 id="Blog_Slider_Content_Inner_ItemActive_Caption_H1" class="col-md-12">کامل ترین دوره <br> طراحی وب جهان</h1>
                                        <h5 id="Blog_Slider_Content_Inner_ItemActive_Caption_H5" class="col-md-12">تا الان هر چی راجع به طراحی وب یاد گرفتی رو بنداز دور! از الان قراره <br> همه چی عوض بشه. یه دوره همه چیز تموم. که تو رو قولوپی میندازه <br>وسط بازار کار. بیا بیشتر در موردش بهت بگم...</h5>
                                        <button id="Blog_Slider_Content_Inner_ItemActive_Caption_BUTTON" type="button" class="btn btn-secondary btn-lg mainbutton whitebutton col-md-12">بیشتر بخون</button>
                                    </div>
                            
                                </div>
                            
                                <div id="Blog_Slider_Content_Inner_Item2" class="carousel-item">
                                    <img id="Blog_Slider_Content_Inner_Item2_IMG" class="d-block w-100" src="https://media.macphun.com/img/uploads/customer/how-to/579/15349456005b7d69405aabf4.32904503.jpg?q=85&w=1340" alt="Second slide">
                            
                                    <div id="Blog_Slider_Content_Inner_Item2_Caption" class="row carousel-caption d-none d-xl-block">
                                        <h1 id="Blog_Slider_Content_Inner_Item2_Caption_H1" class="col-md-12">کامل ترین دوره <br> طراحی وب جهان</h1>
                                        <h5 id="Blog_Slider_Content_Inner_Item2_Caption_H5" class="col-md-12">تا الان هر چی راجع به طراحی وب یاد گرفتی رو بنداز دور! از الان قراره <br> همه چی عوض بشه. یه دوره همه چیز تموم. که تو رو قولوپی میندازه <br>وسط بازار کار. بیا بیشتر در موردش بهت بگم...</h5>
                                        <button id="Blog_Slider_Content_Inner_Item2_Caption_BUTTON" type="button" class="btn btn-secondary btn-lg mainbutton whitebutton col-md-12">بیشتر بخون</button>
                                    </div>
                            
                                </div>
                            
                                <div id="Blog_Slider_Content_Inner_Item3" class="carousel-item">
                                    <img id="Blog_Slider_Content_Inner_Item3_IMG" class="d-block w-100" src="https://media.macphun.com/img/uploads/customer/how-to/579/15349456005b7d69405aabf4.32904503.jpg?q=85&w=1340" alt="Third slide">
                            
                                    <div id="Blog_Slider_Content_Inner_Item3_Caption" class="row carousel-caption d-none d-md-block">
                                        <h1 id="Blog_Slider_Content_Inner_Item3_Caption_H1" class="col-md-12">کامل ترین دوره <br> طراحی وب جهان</h1>
                                        <h5 id="Blog_Slider_Content_Inner_Item3_Caption_H5" class="col-md-12">تا الان هر چی راجع به طراحی وب یاد گرفتی رو بنداز دور! از الان قراره <br> همه چی عوض بشه. یه دوره همه چیز تموم. که تو رو قولوپی میندازه <br>وسط بازار کار. بیا بیشتر در موردش بهت بگم...</h5>
                                        <button id="Blog_Slider_Content_Inner_Item3_Caption_BUTTON" type="button" class="btn btn-secondary btn-lg mainbutton whitebutton col-md-12">بیشتر بخون</button>
                                    </div>
                            
                                </div>
                            
                            </div>
                        
                        </div>

                    </div>

                </div>

            </div>


            <div id="Team" class="row">

                <div id="Team_Slider" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        
                        <div class="carousel-inner">
                            
                            <div class="carousel-item active">
                                        
                                <div id="Team_Slider_Content" class="row justify-content-md-center justify-content-sm-center">
                                            
                                    <div id="Team_Slider_Content_Social" class="col-xl-1 col-lg-1 col-md-4 col-sm-4 col-xs-10">
                                        <form id="Team_Slider_Content_Social_Form" class="row justify-content-sm-center" style="margin-right: 50px; margin-top: 30px;">                                                    
                                            <button id="Team_Slider_Content_Social_Form_BUTTON1" type="button" class="btn mainbutton greenbutton"></button>                                                   
                                            <button id="Team_Slider_Content_Social_Form_BUTTON3" type="button" class="btn mainbutton greenbutton"></button> 
                                            <button id="Team_Slider_Content_Social_Form_BUTTON4" type="button" class="btn mainbutton greenbutton"></button>        
                                            <button id="Team_Slider_Content_Social_Form_BUTTON2" type="button" class="btn mainbutton greenbutton"></button>
                                        </form>
                                    </div>
                              
                                    <div id="Team_Slider_Content_User" class="col-xl-3 col-lg-3 col-md-10 col-sm-8 col-xs-10">
                           
                                        <div id="Team_Slider_Content_User_Capion" class="row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                                            <img id="Team_Slider_Content_User_Capion_IMG" class="col-xl-10 col-lg-10 col-md-4 col-sm-8 col-xs-10" src="Dependencies/Images/Teams/User.png">
                                            <h2 id="Team_Slider_Content_User_Capion_H2" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-8">امیر محمد عباسی</h2>
                                            <h6 id="Team_Slider_Content_User_Capion_H6" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-8">طراح رابط کاربری</h6>
                                        </div>
                           
                                    </div>

                                    <div id="Team_Slider_Content_Caption" class="col-xl-8 col-lg-8 d-none d-lg-block">
                                        <h1 id="Team_Slider_Content_Capion_H1">مهم ترین چیزی که در کودا دنبالشیم خلق <br> یک تجربه جدید و بی نظیره...</h1>         
                                    </div>
                           
                                </div>
      
                            </div>
      
                            <div class="carousel-item">
      
                                <div id="Team_Slider_Content" class="row justify-content-md-center justify-content-sm-center">
                                            
                                    <div id="Team_Slider_Content_Social" class="col-xl-1 col-lg-1 col-md-4 col-sm-4 col-xs-10">
                                        <form id="Team_Slider_Content_Social_Form" class="row justify-content-sm-center" style="margin-right: 50px; margin-top: 30px;">                                                    
                                            <button id="Team_Slider_Content_Social_Form_BUTTON1" type="button" class="btn mainbutton greenbutton"></button>                                                   
                                            <button id="Team_Slider_Content_Social_Form_BUTTON3" type="button" class="btn mainbutton greenbutton"></button> 
                                            <button id="Team_Slider_Content_Social_Form_BUTTON4" type="button" class="btn mainbutton greenbutton"></button>        
                                            <button id="Team_Slider_Content_Social_Form_BUTTON2" type="button" class="btn mainbutton greenbutton"></button>
                                        </form>
                                    </div>
                              
                                    <div id="Team_Slider_Content_User" class="col-xl-3 col-lg-3 col-md-10 col-sm-8 col-xs-10">
                           
                                        <div id="Team_Slider_Content_User_Capion" class="row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                                            <img id="Team_Slider_Content_User_Capion_IMG" class="col-xl-10 col-lg-10 col-md-4 col-sm-8 col-xs-10" src="Dependencies/Images/Teams/User.png">
                                            <h2 id="Team_Slider_Content_User_Capion_H2" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-8">امیر محمد عباسی</h2>
                                            <h6 id="Team_Slider_Content_User_Capion_H6" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-8">طراح رابط کاربری</h6>
                                        </div>
                           
                                    </div>

                                    <div id="Team_Slider_Content_Caption" class="col-xl-8 col-lg-8 d-none d-lg-block">
                                        <h1 id="Team_Slider_Content_Capion_H1">مهم ترین چیزی که در کودا دنبالشیم خلق <br> یک تجربه جدید و بی نظیره...</h1>         
                                    </div>
                           
                                </div>
      
                            </div>
      
                            <div class="carousel-item">
      
                                <div id="Team_Slider_Content" class="row justify-content-md-center justify-content-sm-center">
                                            
                                    <div id="Team_Slider_Content_Social" class="col-xl-1 col-lg-1 col-md-4 col-sm-4 col-xs-10">
                                        <form id="Team_Slider_Content_Social_Form" class="row justify-content-sm-center" style="margin-right: 50px; margin-top: 30px;">                                                    
                                            <button id="Team_Slider_Content_Social_Form_BUTTON1" type="button" class="btn mainbutton greenbutton"></button>                                                   
                                            <button id="Team_Slider_Content_Social_Form_BUTTON3" type="button" class="btn mainbutton greenbutton"></button> 
                                            <button id="Team_Slider_Content_Social_Form_BUTTON4" type="button" class="btn mainbutton greenbutton"></button>        
                                            <button id="Team_Slider_Content_Social_Form_BUTTON2" type="button" class="btn mainbutton greenbutton"></button>
                                        </form>
                                    </div>
                              
                                    <div id="Team_Slider_Content_User" class="col-xl-3 col-lg-3 col-md-10 col-sm-8 col-xs-10">
                           
                                        <div id="Team_Slider_Content_User_Capion" class="row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                                            <img id="Team_Slider_Content_User_Capion_IMG" class="col-xl-10 col-lg-10 col-md-4 col-sm-8 col-xs-10" src="Dependencies/Images/Teams/User.png">
                                            <h2 id="Team_Slider_Content_User_Capion_H2" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-8">امیر محمد عباسی</h2>
                                            <h6 id="Team_Slider_Content_User_Capion_H6" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-8">طراح رابط کاربری</h6>
                                        </div>
                           
                                    </div>

                                    <div id="Team_Slider_Content_Caption" class="col-xl-8 col-lg-8 d-none d-lg-block">
                                        <h1 id="Team_Slider_Content_Capion_H1">مهم ترین چیزی که در کودا دنبالشیم خلق <br> یک تجربه جدید و بی نظیره...</h1>         
                                    </div>
                           
                                </div>
      
                            </div>
      
                            <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="padding-right: 130px;">
                                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgb(39, 204, 121); border-radius: 5px;"></span>
                                <span class="sr-only">Previous</span>
                            </a>
        
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="padding-left: 130px;">
                                <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgb(39, 204, 121); border-radius: 5px;"></span>
                                <span class="sr-only">Next</span>
                            </a>-->
      
                        </div>
      
                    </div>    
      
                </div>
            </div>


            <div id="Porfolio" class="row">

                <div id="Portfolio_Content" class="col-md-12">
                    <h1 id="Portfolio_Content_H1">Portfolio is comming</h1>
                </div>

            </div>


            <div id="Footer" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                
                <div id="Footer_Content" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5 id="Footer_Content_H5">
                        طراحی شده توسط کودا ::: تمامی حقوق محفوظ است
                    </h5>
                </div>

            </div>


        </div>

    </body>

</html>