/* Font-face configuration */
@font-face {
    font-family: 'Yekan-N';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekan-B';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
/* Font-face configuration */

html{
    scroll-behavior: smooth;
}

/****************** Main ******************/
#Main{
    transition: background-color .5s;
    transition: margin-left .5s;
}

#main{
    font-family: Yekan-N;
    background-image: url('Dependencies/Images/Back/Landing\ -\ 768.png');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity .5s;
    opacity: 0;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 50%px;
}
/****************** Main ******************/


/**************** Header ****************/
#header{
    background-image: url('Dependencies/Images/Header/costs-header.png');
    background-repeat: no-repeat;
    background-size: 1430px;
    margin-top: -75px;
    z-index: 2;
    height: 770px;
}

#header-title{
    margin-top: 45px;
}

#header-title-h1{
    color:white;
    font-size: 65px;
    text-align: center;
    margin-top: 130px;
}

#header-caption{
    margin-top: 40px;
}

#header-caption-h3{
    color:white;
    text-align: center;
    font-size: 22px;
    line-height: 38px;
    margin: 0 30px 0 30px;
}

#header-sign{
    margin-top: 70px;
}
/**************** Header ****************/

/**************** Intro ****************/
#intro{
    margin-top: 0px;
    padding-top: 110px;
}

#intro-title-h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#intro-caption{
    margin-top: 50px;
}

#intro-caption-h3{
    text-align: center;
    font-size: 25px;
    line-height: 38px;
}
/**************** Intro ****************/

/**************** navbar ****************/
#navbar{
    height: 70px;
    z-index: 3;
    transition: ease-in-out 0.3s;
}

#navbar-scroll{
    height: 75px;
    z-index: 3;
    transition: ease-in-out 0.3s;
    top: -70px;
    background-color: rgba(46, 46, 46, 0.835);
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(4px);
}

#navbar-right{
    color: white;
    z-index: 2;
}

#navbar-right-row{
    margin-top: 10px;
}

#navbar-right-logo{
    
}

#navbar-right-logo-img{
    width: 88px;
}

#navbar-right-blog{
    
}

#navbar-right-blog-h6{
    text-align: center;
}

#navbar-right-contact{
    
}

#navbar-right-contact-h6{
    text-align: center;
}

#navbar-left{
    z-index: 2;
}

#nevbar-left-row{
    margin-top: 18px;
}

#navbar-left-cost{

}

#navbar-left-cost-h6{
    text-align: center;
}

#navbar-left-portfolio{

}

#navbar-left-portfolio-h6{
    text-align: center;
}

#navbar-left-sign{
    text-align: center;
    z-index: 2;
}

#navbar-left-sign-button{
    width: 120px;
    height: 38px;
    border-radius: 50px;
}

#navbar-left-sign-button-h6{
    font-size: 11px;
    font-family: Yekan-B;
    float: right;
    margin: 6px 5px 0 0;
}

#navbar-left-sign-button-img{
    width: 12px;
    margin: -2px 4px 0 0;
}

#navbar-left-hamburger{
    
}

#navbar-left-hamburger-img{
    width: 25px;
    float: left;
}

#navbar-left-sign-button-h6{
    color: orangered;
}

.button{
    background-color: white;
    border-width: 2;
    border-color: orangered;
    transition: 0.2s ease-in-out;
}

.button:hover{
    background-color: rgb(245, 245, 245);
    border-width: 1;
    border-color: white;
    transition: 0.5s ease-in-out;
}
/**************** navbar ****************/


/**************** navbar-modal ****************/
#navbar-modal{
    backdrop-filter: blur(4px);
}

#navbar-modal-close{
    margin-bottom: -5px;
}

#navbar-modal-content{
    width: 410px;
    height: 450px;
    border-radius: 25px;
    margin-top: 60px;
}

#navbar-modal-title{
    margin-bottom: 30px;
    
}

#navbar-modal-title-h3{
    font-size: 30px;
    color: black;
}

#navbar-modal-caption-h4{
    font-size: 12px;
    color: black;
}

#navbar-modal-caption{
    margin-top: 15px;
}

#navbar-modal-sign{
    
}

#navbar-modal-form-input1{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
}

#navbar-modal-form-input2{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
    margin-top: 10px;
}

#navbar-modal-form-input3{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
    margin-top: 10px;
}

#navbar-modal-form-button{
    display: inline;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 13px -47px 0 0;
}

#navbar-modal-social{
    margin-top: 15px;
}

#navbar-modal-social-1{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-2{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-3{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-4{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

.button1{
    background-color: orangered;
    border-width: 0;
    transition: 0.2s ease-in-out;
}

.button1:hover{
    background-color: rgb(221, 59, 0);
    border-width: 1;
    border-color: white;
    transition: 0.5s ease-in-out;
}
/**************** navbar-modal ****************/


/**************** hamburger-menu ****************/
#side-nav-close{
    margin: -30px 20px 0 0;
}

#side-nav-1-title{
    font-size: 46px;
    margin-top: 35px;
}

#side-nav-1-caption{
    margin: 5px 55px 0 20px;
    line-height: 22px;
}

#side-nav-1-social{
    margin-top: 60px;
}

#side-nav-2{
    margin: 40px 15px 0 15px;
}

.social-icon{
    width: 45px;
    height: 45px;
    background-color: orangered;
    opacity: 60%;
    border-width: 0;
    margin: 10px;
    border-radius: 20px;
    transition: 0.8s ease;
}

.social-icon:hover{
    opacity: 90%;
    transition: 0.8s ease;
    cursor: pointer;
}

.nav-item{
    width: 120px;
    height: 60px;
    background-color: rgba(255, 68, 0, 0.226);
    border-width: 1px;
    border-color: orangered;
    margin: 10px;
    border-radius: 20px;
    transition: 0.4s ease;
    color: black;
    
}

.nav-item:hover{
    background-color: orangered;
    transition: 0.3s ease;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0;
    border-color: rgba(255, 68, 0, 0.198);
    border-style: solid;
    border-width: 0px 2px 0px 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    backdrop-filter: blur(5px);
  }

#side-nav-logo-img{
    width: 88px;
}
/**************** hamburger-menu ****************/

/*************** H's Right-Align ****************/
h1{
    text-align: right;
}

h2{
    text-align: right;
}

h3{
    text-align: right;
}

h4{
    text-align: right;
}

h5{
    text-align: right;
}

h6{
    text-align: right;
}
/*************** H's Right-Align ****************/
/*************** cost calaculate ****************/
#div-calculate{
    margin-top: 2em;
    background-color: lavender;
    padding-right: 6em;
    padding-left: 6em;
}
#h1title-costonline{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 2em;
}
#typenumber-site{
    margin-top: 2em;
    padding-right: ;
}

#div-typesite{
    z-index: 0;
}
#type-site{
    padding-top: 3em;
    padding-right: ;

}
#h4title-type{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: ;

}
#number-damane{
    padding-top: 3em;
    padding-left: 2em;
}
/**type of site**/

input[id=company] {
    width: 125px;
    height: 40px;
    margin: 0px 0px 0px -30px;
    background-color: orangered;
    border: orangered;
    color: whitesmoke;
    z-index: 2;
    border-radius: 20px;
    font-size: 13px;
  }
  input[id=company]:focus {
    border: orangered;
    z-index: 3;
    background-color: orangered;
  }


  input[id=stores] {
    width: 125px;
    height: 40px;
    margin: 0px 0px 0px 0px;
    background-color: black;
    border: black;
    color: whitesmoke;
    z-index: 1;
    border-radius: 20px;
    font-size: 13px;
  }
  input[id=stores]:focus {
    border: black;
    z-index: 3;
  }


  input[id=special] {
    width: 125px;
    height: 40px;
    margin: 0px -30px 0px 0px;
    background-color: #00E25A;
    border: #00E25A;
    color: whitesmoke;
    z-index: 0;
    border-radius: 20px;
    font-size: 13px;
  }
  input[id=special]:focus {
    border: #00E25A;
    z-index: 3;
  }
  #h4title-number{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
  }
  #sellecnumber{
      border-radius: 20px;
  }
  select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-origin: content-box;
    border-radius: 25px;
    height: 3em;
    width: 4em;
    margin-bottom:;
    font-size: 20px;
}

/**css range slider**/

#rangeslider{
    padding-top: 4em;
}
#range{
    padding-top: 1em;
}
#text-range{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    padding-right: 0;
  }
  #text-megabyte{
    text-align: bottom;
    font-size: 15px;
    font-weight: bold;
    padding-left: 0em;
    padding-top: 1.2em;
  }
  #div-text-megabyte{
    padding-right: 2em;
  }
  #div-output{
      padding-right: ;
      
  }
  #output{
    text-align: top;
    font-size: 30px;
    font-weight: bold;
  }
#myinput {
    background: linear-gradient(to right, #FF5400 0%, #FF5400 5%, #bbbbbb 5%, #bbbbbb 100%);
    border: none;
    border-radius: 8px;
    height: 12px;
    width: 40em;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 28px;
    cursor: pointer;
    border-radius: 10px;
    background: #434343;
    -webkit-appearance: none;
  }
#accessories{
    padding-top: 3em;
    padding-right: 3em;
}
#title-checkbox{
    font-size: 30px;
    font-weight: bold;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid orangered;
    border: 10px;
    border-radius: 15px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
    border: solid orangered;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #eee;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border: solid orangered;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid orangered;
    border-width: 0 3px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  

/*cost calaculate*/
/* footer */
#footer-back{
    background-color: rgb(14, 14, 14);
    color: white;
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
    height: 60px;
    width: 430px;
}

#footer-caption{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}
/* footer */

/* scroll icon*/
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
/* scroll icon*/

/* social-bar */
#social-bar{
    width: 45px;
    height: 205px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
    background-color: rgba(46, 46, 46, 0.157);
    left: 0;
    top: 30%;
    backdrop-filter: blur(5px);
    margin-left: -35px;
    transition: ease-in-out 0.2s;
}

#social-bar:hover{
    margin-left: 0;
    transition: ease-in-out 0.2s;
    background-color: rgb(238, 242, 255);
}

.social-bar-icon{
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 10px 0 5px 4px;
    opacity: 50%;
    transition: ease-in-out 0.3s;
}

.social-bar-icon:hover{
    opacity: 100%;
    transition: ease-in-out 0.3s;
}
/* social-bar */

/* acardeon */
#acardeon{
    margin-top: 80px;
}

#acardeon-buttons-1{
    background-color: seagreen;
    z-index: 2;
    box-shadow: -2px 0 5px 3px rgba(0, 0, 0, 0.157);
}

#acardeon-buttons-2{
    background-color: tomato;
    margin-right: -10px;
    z-index: 1;
    box-shadow: -2px 0 5px 3px rgba(0, 0, 0, 0.157);
}

#acardeon-buttons-3{
    background-color: rgb(255, 179, 0);
    margin-right: -10px;
    z-index: 0;
    box-shadow: -2px 0 5px 3px rgba(0, 0, 0, 0.157);
}

#acardeon-tabs-main{
    background-color: rgba(46, 139, 86, 0.274);
    border-color: seagreen;
    transition: background-color 0.2s ease-in;
}

.tabs-acardeon{
    border-radius: 50px 0 50px 50px;
    border-width: 5;
    border-style: solid;
}

.button-acardeon{
    width: 160px;
    height: 55px;
    border-radius: 20px 15px 0 0;
}

.button-acardeon1{
    width: 85px;
    height: 55px;
    border-radius: 20px 15px 0 0;
}


.acardeon-font{
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}
/* acardeon */